[Desktop Entry]
Name=Abid
Name[ru]=Абид
Name[uz]=Абид
Name[uz_Latn]=Abid
Comment=A multimedia program teaching namaz
Comment[ru]=Мультимедийная программа обучающая намазу
Comment[uz]=Намозни ўргатувчи мультимедиа дастури
Comment[uz_Latn]=Namozni o'rgatuvchi multimedia dasturi
Keywords=islam;salah;namaz;prayer;ислам;намаз;ислом;намоз;islom;namoz;
Icon=abid
Type=Application
Categories=Education;
Exec=/opt/abid/abid
Terminal=false
