[Desktop Entry]
Name=Abid
Name[ru]=Абид
Name[uz]=Абид
Comment=A multimedia program teaching prayer
Comment[ru]=Мультимедийная программа обучающая чтению намаза
Comment[uz]=Намоз ўқишни ўргатувчи мультимедиа дастури
Keywords=islam;prayer;ислам;намаз;ислом;намоз;
Icon=abid
Type=Application
Categories=Education;
Exec=/opt/abid/abid
Terminal=false
