[Desktop Entry]
Name=Abid
Name[ru]=Абид
Name[uz]=Абид
Name[uz_Latn]=Abid
Comment=A multimedia program teaching prayer
Comment[ru]=Мультимедийная программа обучающая чтению намаза
Comment[uz]=Намоз ўқишни ўргатувчи мультимедиа дастури
Comment[uz_Latn]=Namoz o'qishni o'rgatuvchi multimedia dasturi
Keywords=islam;salah;namaz;prayer;ислам;намаз;ислом;намоз;islom;namoz;
Icon=abid
Type=Application
Categories=Education;
Exec=/opt/abid/abid
Terminal=false
