[Desktop Entry]
Name=Abid
GenericName=Abid
Comment=Namoz o'qishni o'rgatuvchi multimedia dasturi
Comment[ru]=Мультимедийная программа обучающая чтению намаза
Comment[uz]=Намоз ўқишни ўргатувчи мультимедиа дастури
Keywords=islam;namaz;multimedia;
Icon=abid
Type=Application
Categories=AudioVideo;Education;
Exec=/opt/abid/abid
Terminal=false
