Package: abid
Version: 4.4
Provides: abid
Maintainer: Umidjon Almasov <umidjonalmasov@gmail.com>
Architecture: amd64
Section: misc
Description: A multimedia program teaching namaz.
Installed-Size: 14438.4
Priority: optional

