[Desktop Entry]
Name=Abid
Name[ru]=Абид
Name[uz]=Абид
Comment=Namoz o'qishni o'rgatuvchi multimedia dasturi
Comment[ru]=Мультимедийная программа обучающая чтению намаза
Comment[uz]=Намоз ўқишни ўргатувчи мультимедиа дастури
Keywords=islom;namoz;ислам;намаз;ислом;намоз;
Icon=abid
Type=Application
Categories=Education;
Exec=/opt/abid/abid
Terminal=false
